<!DOCTYPE html>
<!--Login form made by TheRealCed-->
    <head>
        <style>
            @font-face {
                font-family: "Torus Notched";
            }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="//db.onlinewebfonts.com/c/6a17929c7360288d1242981da7712dc3?family=Torus+Notched" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/static/css/loginstyle.css">
        <link rel="icon" type="image/png" href="/static/img/rosu.ico">
        <title>Aluri Admin Panel (AAP) - Login</title>
    </head>
    <body>
        {% if alert %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ alert }}
        </div>
        {% endif %}
        <form class="box" action="/login" method="post">
            <h1>Aluri Admin Panel (AAP)</h1>
            <div class="text1">Log in admin!</div>
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            {% if conf["UseRecaptcha"] %}
            {{ recaptcha }}
            {% endif %}
            <input type="submit" name="" value="Login">
        </form>
    </body>
</html>
